<h1>{{title}}</h1> 

<div class="container">
<form>
  Numero 1: <input type="number" [(ngModel)]="operando1" name="operando1"><br/><br/>  

  Numero 2: <input type="number" [(ngModel)]="operando2" name="operando2"><br/><br/>  

  <input type="submit" value="Sumar"(click)="sumar()" class="btn btn-danger">

  <input type="submit" value="Restar"(click)="restar()" class="btn btn-primary">

  <input type="submit" value="Multiplicar"(click)="multiplicar()"class="btn btn-dark">

  <br/><br/> 
</form>
</div>
<p>Resultado: {{resultado}}</p>